@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap";

/* ================================================================================= */

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 1292px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992.98px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

/* ================================================================================= */

.section-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

.little-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

/* ================================================================================= */

.button {
    display: inline-block;
    font-family: inherit;
    color: inherit;
    font-size: 18px;
    transition: 0.3s ease 0s;
    border-radius: 41px;
    padding: 20px 0;
}

.button--yellow {
    background-color: #ffa52c;
}

.button--yellow:hover {
    background-color: #b58803;
}

@media (max-width: 1292px) {
    .button {
        font-size: 16px;
    }
}

.button--arrow {
    position: relative;
}

.button--arrow:after {
    content: "";
    position: absolute;
    top: 2px;
    right: 0;
    background: url("@/assets/images/icons/proj-arrow.svg") 0 0 no-repeat;
    background-size: contain;
    width: 24px;
    height: 12px;
}

/* ================================================================================= */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
input::placeholder,
textarea::placeholder {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0);
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: rgba(0, 0, 0, 0);
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0);
}
input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0);
}
input:focus::placeholder,
textarea:focus::placeholder {
    color: rgba(0, 0, 0, 0);
}
input,
textarea {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
textarea {
    resize: none;
}
select {
    background-color: #fff;
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* ================================================================================= */

.logo {
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    transition: all 0.3s;
}
.logo:hover {
    opacity: 0.7;
}
