/* ========================================================================== */
/* Media Query for md3: 767.98px */
/* ========================================================================== */
@media (max-width: 992.98px) {
    /* paint hamburger menu lines */
    .header__hamburger-menu {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 4;
    }

    .header__hamburger-menu::before,
    .header__hamburger-menu::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s ease 0s;
    }

    .header__hamburger-menu span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.2s ease 0s;
    }

    .header__hamburger-menu::before {
        top: 0;
    }

    .header__hamburger-menu::after {
        bottom: 0;
    }
    /* done */

    .header__hamburger-menu--dark::before,
    .header__hamburger-menu--dark::after,
    .header__hamburger-menu--dark span {
        background-color: #000;
    }

    /* make a cross out of the burger element when clicking on it */
    .header__hamburger-menu.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__hamburger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__hamburger-menu.active span {
        transform: scale(0);
    }
    /* done */

    .header__menu {
        position: fixed;
        top: -100%; /* animate this */
        left: 0;
        width: 100%;
        /* height: 100%; */
        background-color: #282938;
        z-index: 3;
        padding: 100px 10px 50px 10px; /* so the header menu could be seen from under the header */
        transition: all 0.2s ease 0s;
        overflow: auto; /* allows to scroll the menu if the phone is flipped horizontally */
        text-align: center;
    }

    .header__menu.active {
        top: 0;
    }

    ul.header__list {
        display: block;
        text-align: center;
    }

    .header__link {
        font-size: 24px;
    }

    .header__list-item {
        margin-bottom: 30px;
    }

    body.lock {
        overflow: hidden; /* the page won't be scrolling if you will scroll the hamburger menu */
    }
}
